<h1>Edit Domain</h1>

<%= render "form.html", Map.put(assigns, :action, AdminRoutes.domain_path(@conn, :update, @domain)) %>

<span><%= link "Back", to: AdminRoutes.domain_path(@conn, :index) %></span>
