<h1>New Scene</h1>

<%= render "form.html", Map.put(assigns, :action, AdminRoutes.area_scene_path(@conn, :create, @area)) %>

<span><%= link "Back", to: AdminRoutes.area_path(@conn, :show, @area) %></span>
